
body {
    background-image: url("wood.png");
}

a {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

div {
    background-color: #8E41D5;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px black;
    text-align: center;
    margin-bottom: 10px;
    border-bottom-right-radius: 50px;
}

#Header {
    width: 500px;
    box-shadow: 10px 5px 5px 2px gold;
    visibility: visible;
}

#LeftNav {
    float: left;
    width: 400px;
    padding-bottom: 8px;
    
}

#Content {
    width: 700px;
    padding: 50px;
    border-style: dashed;
}


ul {
    list-style-type: none;
    padding-left: 0px;
}

#Header h1 {
    font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px;
}

p {
    color: white;
    font-family: "Arial"; 
	font-weight: bold; 
    word-spacing: calc();
}

h3 {
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px;
}

#bow{
	color:#FFBC00;
	font-weight: bold;
	font-size: 20px;
}

img {
    filter: grayscale();
}

